# Ignore files
.linkedinpost
linkedin_posts.xlsx
.env
jobs_output.json
app/tasks/email_sender_lib/client_secret.json
app/tasks/email_sender_lib/token.json
app/tasks/resume_analyser/messege_content.txt
app/tasks/resume_analyser/resume.txt
